*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{

    background-color: #141414;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#h1{

   color: #eeeeee;

}

.divq{

    max-width: 700px;
    height: 600px;
    background-color: #eeeeee;
    margin-top: 20px;
    opacity: 0;

}

#inicial{

    width: 500px;
    height: 500px;
    background-color: aqua;
    margin-top: 20px;
    animation: namez 1s linear forwards;

}

.ligado{

    animation-name: namez;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    max-width: 700px;
    height: 600px;
    background-color: #eeeeee;
    margin-top: 20px;

}

@keyframes namez{

    0%{opacity: 0};
    100%{opacity: 1};

}

@keyframes names2{

    0%{opacity: 1};
    100%{opacity: 0};

}
