*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{

    background-color: #141414;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#cursor {

    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    z-index: 3;

}

#div{

    width: 500px;
    height: 500px;
    background-color: #eeeeee;

}

.divq{

    width: 700px;
    height: 600px;
    background-color: #eeeeee;
    margin-top: 20px;
    opacity: 0;

}

.numero{

    position: relative;
    animation-name: name;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 700px;
    height: 600px;
    background-color: #eeeeee;
    margin-top: 20px;

}

.numero2{

    animation-name: namez;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    width: 700px;
    height: 600px;
    margin-top: 20px;
    opacity: 1;

}

@keyframes name{

    0%{opacity: 0; left: -50px};
    100%{opacity: 1; left: 0px;};

}

@keyframes namez{

    0%{opacity: 1};
    100%{opacity: 0};

}
